@charset "utf-8";
/* custom css file made by JeanDoe */

/* import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* css variables */

:root{
	--main-clr: #567;
	--light-bg: #f1e1d1;
	--light-clr: #7a7b7c;
	--black: #1a1b1c;
	--white: #fff;
	
	--body-font: 'Poppins','Ubuntu Mono', sans-serif;
	--border: 1px solid rgba(0,0,0,.1);
}

/* initialisation */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-weight: normal;
}

::selection{
	background: var(--main-clr);
	color: var(--white);
}

html{
	font-size: 100%;
}

body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	background: var(--light-bg);
	font-family: var(--body-font);
	padding: 1rem;
}

/* copy and paste section starts */

.container{
	padding: 1.5rem 2rem;
	background: var(--white);
	border-radius: .25rem;
}

.container .box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container .box .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .5rem 0;
	gap: 1rem;
	width: 100%;
}

.container .box .btn{
	background: #faf9f9;
	padding: .5rem 1rem;
	border-radius: .5rem;
	font-size: .938rem;
	font-family: var(--body-font);
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.1);
}

.container .box .btn:hover{
	color: var(--light-clr);
}
.container .box .btn i{
	margin-right: .25rem;
	color: var(--main-clr);
}

.copy_btn.active,
.paste_btn.active{
	color: var(--light-clr);
}

.container .box .label{
	font-size: 1.2rem;
}

.container .box textarea{
	font-family: var(--body-font);
	font-size: .938rem;
	resize: none;
	width: 100%;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .5rem;
	padding: 1rem;
}

.message{
	padding: .5rem;
	background: #faf9f9;
	text-align: center;
	margin: .5rem 0;
	color: var(--light-clr);
	display: none;
	font-size: .813rem;
}
.message.active{
	display: block;
}
.message span{
	text-transform: capitalize;
	user-select: none;
}








/* notification section starts */


.notification{
	padding: .5rem;
	border-radius: .25rem;
	max-width: 25rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background: var(--white);
	position: relative;
	margin-top: 2rem;
}

.notification .info_icon{
	position: absolute;
	top: -1rem;
	right: -1rem;
	border-radius: 50%;
	background: var(--main-clr);
	color: var(--white);
	display: block;
	height: 2rem;
	width: 2rem;
	text-align: center;
	line-height: 1.7rem;
}
.notification .title{
	color: #232426;
	font-size: 1.2rem;
	text-align: center;
	cursor: pointer;
	text-transform: capitalize;
}
.notification .title:hover{
	color: var(--main-clr);
}
.text{
	margin-top: 1rem;
	padding: 1rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.1);
	color: #232426;
	font-weight: 200;
	font-size: .938rem;
	transition: all .3s;
	display: none;
}
.text.active{
	display: block;
}
.notification .text span{
	color: var(--main-clr);
}

.close{
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	color: #232426;
	display: none;
}

.close.active{
	display: block;
	color: var(--light-clr);
}



/* media queries starts */

@media screen and (max-width: 450px){
	
}




















